<a href="https://colab.research.google.com/github/Anjalikk004/AIML/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

keep missing values

In [31]:
import pandas as pd
df=pd.read_csv("/content/electric bill 1.csv")
print("Approch 1: keep missing value as is")
print(df)

Approch 1: keep missing value as is
        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
0      16.0            23             NaN           6        1        0.0
1      19.0            22             NaN           3        1        0.0
2       7.0            20             NaN           6        7        0.0
3       7.0            22             NaN          21        1        0.0
4      11.0            23             NaN          11        1        NaN
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
0         10  Hyderabad                            Tata Power Company Ltd.
1          5   Vadodara                                               NHPC
2          7     Shimla                                    Jyoti Structure
3          6     Mumbai                                    Power Grid Corp
4          2     Mumbai          Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
0               384         8.4           3225.6
1               488         7.8           3806.4
2               416         7.7           3203.2
3               475         9.2           4370.0
4               457         9.2           4204.4
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45345 rows x 12 columns]

In [30]:
non_numeric_columns=df.select_dtypes(exclude=['number']).columns
df[non_numeric_columns]=df[non_numeric_columns].fillna('z')
print(df)

        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
19     13.0            22             1.0          21       12        0.0
20     23.0            23             0.0          15        1        0.0
21     20.0            22             3.0           7       12        0.0
22     23.0            22             2.0          14        1        0.0
23      9.0            22             3.0           3        1        0.0
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
19        11  New Delhi  Maha Transco – Maharashtra State Electricity T...
20         8     Mumbai                    Sterlite Power Transmission Ltd
21         2  Ratnagiri                    L&T Transmission & Distribution
22         7  Faridabad                                      Guj Ind Power
23         4  Faridabad                                    Jyoti Structure
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
19              646         8.5           5491.0
20              476         9.2           4379.2
21              659         7.4           4876.6
22              631         8.1           5111.1
23              395         8.1           3199.5
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45326 rows x 12 columns]

In [28]:
import pandas as pd
data=pd.read_csv("/content/electric bill 1.csv")
df=df.dropna(axis=1)
print(df)

        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
19     13.0            22             1.0          21       12        0.0
20     23.0            23             0.0          15        1        0.0
21     20.0            22             3.0           7       12        0.0
22     23.0            22             2.0          14        1        0.0
23      9.0            22             3.0           3        1        0.0
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
19        11  New Delhi  Maha Transco – Maharashtra State Electricity T...
20         8     Mumbai                    Sterlite Power Transmission Ltd
21         2  Ratnagiri                    L&T Transmission & Distribution
22         7  Faridabad                                      Guj Ind Power
23         4  Faridabad                                    Jyoti Structure
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
19              646         8.5           5491.0
20              476         9.2           4379.2
21              659         7.4           4876.6
22              631         8.1           5111.1
23              395         8.1           3199.5
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45326 rows x 12 columns]

In [27]:
import pandas as pd
data=pd.read_csv("/content/electric bill 1.csv")
print('missing values')
print(data.isnull().sum())
df=data.dropna()
print(df)

missing values
Fan                 6
Refrigerator        0
AirConditioner     13
Television          0
Monitor             0
MotorPump           1
Month               0
City                0
Company             0
MonthlyHours        0
TariffRate          0
ElectricityBill     0
dtype: int64
        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
19     13.0            22             1.0          21       12        0.0
20     23.0            23             0.0          15        1        0.0
21     20.0            22             3.0           7       12        0.0
22     23.0            22             2.0          14        1        0.0
23      9.0            22             3.0           3        1        0.0
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
19        11  New Delhi  Maha Transco – Maharashtra State Electricity T...
20         8     Mumbai                    Sterlite Power Transmission Ltd
21         2  Ratnagiri                    L&T Transmission & Distribution
22         7  Faridabad                                      Guj Ind Power
23         4  Faridabad                                    Jyoti Structure
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
19              646         8.5           5491.0
20              476         9.2           4379.2
21              659         7.4           4876.6
22              631         8.1           5111.1
23              395         8.1           3199.5
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45326 rows x 12 columns]

dealing with outliers

do nothing

In [ ]:
import pandas as pd
data=pd.read_csv("/content/electric bill 1.csv")
df=pd.DataFrame(data)
df_no_imputation=df.copy()
print(df_no_imputation)

        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
0      16.0            23             NaN           6        1        0.0
1      19.0            22             NaN           3        1        0.0
2       7.0            20             NaN           6        7        0.0
3       7.0            22             NaN          21        1        0.0
4      11.0            23             NaN          11        1        NaN
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
0         10  Hyderabad                            Tata Power Company Ltd.
1          5   Vadodara                                               NHPC
2          7     Shimla                                    Jyoti Structure
3          6     Mumbai                                    Power Grid Corp
4          2     Mumbai          Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
0               384         8.4           3225.6
1               488         7.8           3806.4
2               416         7.7           3203.2
3               475         9.2           4370.0
4               457         9.2           4204.4
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45345 rows x 12 columns]

upper and lowercap

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/electric bill 1.csv')
column_name='Fan'
upper_cap=data[column_name].mean()+3*data[column_name].std()
lower_cap=data[column_name].mean()-3*data[column_name].std()
data.loc[data[column_name]>upper_cap,column_name]=upper_cap
print(data)

        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
0      16.0            23             NaN           6        1        0.0
1      19.0            22             NaN           3        1        0.0
2       7.0            20             NaN           6        7        0.0
3       7.0            22             NaN          21        1        0.0
4      11.0            23             NaN          11        1        NaN
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
0         10  Hyderabad                            Tata Power Company Ltd.
1          5   Vadodara                                               NHPC
2          7     Shimla                                    Jyoti Structure
3          6     Mumbai                                    Power Grid Corp
4          2     Mumbai          Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill
0               384         8.4           3225.6
1               488         7.8           3806.4
2               416         7.7           3203.2
3               475         9.2           4370.0
4               457         9.2           4204.4
...             ...         ...              ...
45340           764         7.9           6035.6
45341           572         8.5           4862.0
45342           609         8.5           5176.5
45343           748         7.4           5535.2
45344           427         8.3           3544.1

[45345 rows x 12 columns]

log transformation

In [18]:
import pandas as pd
import numpy as np
data = pd.read_csv('/content/electric bill 1.csv')
df = pd.DataFrame(data)
df['Fan'] = pd.to_numeric(df['Fan'],errors='coerce')
df['log_order_Quality'] = df['Fan'].apply(lambda x: np.log(x) if x> 0 else 0)
print(df)

        Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
0      16.0            23             NaN           6        1        0.0
1      19.0            22             NaN           3        1        0.0
2       7.0            20             NaN           6        7        0.0
3       7.0            22             NaN          21        1        0.0
4      11.0            23             NaN          11        1        NaN
...     ...           ...             ...         ...      ...        ...
45340  18.0            22             3.0          22        1        0.0
45341  23.0            23             2.0           6       12        0.0
45342  22.0            22             2.0          20        1        0.0
45343   8.0            21             2.0          22        7        0.0
45344   8.0            17             2.0           4        1        0.0

       Month       City                                            Company  \
0         10  Hyderabad                            Tata Power Company Ltd.
1          5   Vadodara                                               NHPC
2          7     Shimla                                    Jyoti Structure
3          6     Mumbai                                    Power Grid Corp
4          2     Mumbai          Ratnagiri Gas and Power Pvt. Ltd. (RGPPL)
...      ...        ...                                                ...
45340      9  Ahmedabad  Maha Transco – Maharashtra State Electricity T...
45341      2  New Delhi                                       Orient Green
45342      1  New Delhi                               GE T&D India Limited
45343     12  Ratnagiri                                 TransRail Lighting
45344      1    Gurgaon                    L&T Transmission & Distribution

       MonthlyHours  TariffRate  ElectricityBill  log_order_Quality
0               384         8.4           3225.6           2.772589
1               488         7.8           3806.4           2.944439
2               416         7.7           3203.2           1.945910
3               475         9.2           4370.0           1.945910
4               457         9.2           4204.4           2.397895
...             ...         ...              ...                ...
45340           764         7.9           6035.6           2.890372
45341           572         8.5           4862.0           3.135494
45342           609         8.5           5176.5           3.091042
45343           748         7.4           5535.2           2.079442
45344           427         8.3           3544.1           2.079442

[45345 rows x 13 columns]

Time series

In [19]:
import pandas as pd
import numpy as np
df=pd.read_csv('/content/electric bill 1.csv')
data=df.select_dtypes(include=['float','int'])
rolling_mean = data.rolling(window=3).mean()
rolling_std = data.rolling(window=3).std()
outliers = data[(data - rolling_mean).abs()> -1 * rolling_std]
print("Time series outliers:",outliers)

Time series outliers:         Fan  Refrigerator  AirConditioner  Television  Monitor  MotorPump  \
0       NaN           NaN             NaN         NaN      NaN        NaN
1       NaN           NaN             NaN         NaN      NaN        NaN
2       7.0          20.0             NaN         6.0      7.0        NaN
3       7.0          22.0             NaN        21.0      1.0        NaN
4      11.0          23.0             NaN        11.0      1.0        NaN
...     ...           ...             ...         ...      ...        ...
45340  18.0          22.0             3.0        22.0      NaN        NaN
45341  23.0          23.0             2.0         6.0     12.0        NaN
45342  22.0          22.0             2.0        20.0      1.0        NaN
45343   8.0          21.0             NaN        22.0      7.0        NaN
45344   8.0          17.0             NaN         4.0      1.0        NaN

       Month  MonthlyHours  TariffRate  ElectricityBill
0        NaN           NaN         NaN              NaN
1        NaN           NaN         NaN              NaN
2        7.0         416.0         7.7           3203.2
3        6.0         475.0         9.2           4370.0
4        2.0         457.0         9.2           4204.4
...      ...           ...         ...              ...
45340    9.0         764.0         7.9           6035.6
45341    2.0         572.0         8.5           4862.0
45342    1.0         609.0         8.5           5176.5
45343   12.0         748.0         7.4           5535.2
45344    1.0         427.0         8.3           3544.1

[45345 rows x 10 columns]